# How to fix missing values
There are different types of missing values, like null, blank or white space, NA, nana, NaN, or some random characture. In python null, , NA, nana, NaN are interpreted as NaN and handles as missing value. Here, None, none, na, Null are not interpreted as missing value.  Hence we need to write a docde for it.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#import data from xls
student_df = pd.read_excel('./missing.xlsx')
# print(student_df)

#summary height
# print("Height summary", student_df['Height'].describe())

#clean data, create new dataframe with two column Height and Missing value
cleaner_df = pd.DataFrame(columns=['Height','Missing'])

print(f'new dataframe: ')
print(f'{cleaner_df.info()}')

#put Height values in new dataframe
cleaner_df['Height'] = student_df['Height']
cleaner_df['Missing'] = student_df['Height'].isnull()
print(cleaner_df)

new dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Height   0 non-null      object
 1   Missing  0 non-null      object
dtypes: object(2)
memory usage: 132.0+ bytes
None
        Height  Missing
0   164.981605    False
1          NaN     True
2          NaN     True
3   188.796394    False
4          NaN     True
5   156.239781    False
6         none    False
7   184.647046    False
8           na    False
9          NaN     True
10  170.990257    False
11        Null    False
12  183.297706    False
13         NaN     True
14  161.649166    False
15         NaN     True
16   162.16969    False
17           .    False
18  167.277801    False
19           ?    False

In [11]:
#looping over dataframe and fixing missing values
import pandas as pd
import numpy as np

#import data
student_df = pd.read_excel('./missing_null.xlsx')

print(student_df,'\n\n\n')

for i in student_df.columns:
    student_df[i]=student_df[i].fillna(0)
print(student_df)

    No       Name      Height     Weight   Age
0    0   Student1  164.981605  72.533380  16.0
1    1   Student2         NaN  51.277224   NaN
2    2   Student3  179.279758  58.146509  22.0
3    3   Student4  188.796394        NaN  24.0
4    4   Student5         NaN  65.523149  20.0
5    5   Student6  156.239781  80.332918  23.0
6    6   Student7         NaN  49.395245   NaN
7    7   Student8  184.647046  68.140550  21.0
8    8   Student9  174.044600        NaN  19.0
9    9  Student10  152.323344  53.985320  10.0
10  10  Student11  170.990257  72.339518  19.0
11  11  Student12         NaN  52.673586  23.0
12  12  Student13  183.297706  47.927322  23.0
13  13  Student14         NaN  87.699849  23.0
14  14  Student15  161.649166  64.806862  17.0
15  15  Student16         NaN  81.377881   NaN
16  16  Student17  162.169690        NaN  23.0
17  17  Student18         NaN  47.090269   5.0
18  18  Student19  167.277801  75.790486  24.0
19  19  Student20         NaN  61.486283  11.0



    No       Name      Height     Weight   Age
0    0   Student1  164.981605  72.533380  16.0
1    1   Student2    0.000000  51.277224   0.0
2    2   Student3  179.279758  58.146509  22.0
3    3   Student4  188.796394   0.000000  24.0
4    4   Student5    0.000000  65.523149  20.0
5    5   Student6  156.239781  80.332918  23.0
6    6   Student7    0.000000  49.395245   0.0
7    7   Student8  184.647046  68.140550  21.0
8    8   Student9  174.044600   0.000000  19.0
9    9  Student10  152.323344  53.985320  10.0
10  10  Student11  170.990257  72.339518  19.0
11  11  Student12    0.000000  52.673586  23.0
12  12  Student13  183.297706  47.927322  23.0
13  13  Student14    0.000000  87.699849  23.0
14  14  Student15  161.649166  64.806862  17.0
15  15  Student16    0.000000  81.377881   0.0
16  16  Student17  162.169690   0.000000  23.0
17  17  Student18    0.000000  47.090269   5.0
18  18  Student19  167.277801  75.790486  24.0
19  19  Student20    0.000000  61.486283  11.0