# Loops
there are two type of loops in python for iteration. while and for

### while loop: 
it is used if you dont know the number of iterations and rely on a condition to be falsue to exit the loop

### for loop: 
it is used when you know the number of iterations, or loop over a certain container variable, or within a specific range of numbers.

In [2]:
#While loop
#check user input is odd or even, exit program if user press 0

#input the first number form the user before the loop
input_no = int(input('Enter your number (0 to exit): '))

while input_no != 0:
    if input_no%2==0:
        print('your input is even')
    else:
        print('Your input is odd')
    input_no = int(input('Enter your number (0 to exit): '))
else: #runs when 0 is pressed by user
    print("Bye and have a great day")

Your input is odd
Your input is odd
your input is even
Your input is odd
your input is even
Your input is odd
Bye and have a great day

In [3]:
# for loop
# add odd numbers from 0 to 10

sum = 0

for num in range(1,10):
    if num%2!=0:
        sum+=num
        print('num: ',num)
        print('sum: ',sum)

num:  1
sum:  1
num:  3
sum:  4
num:  5
sum:  9
num:  7
sum:  16
num:  9
sum:  25

In [4]:
# looping over string
# reverse the string
for letter in 'Python'[::-1]:
    print(letter)

n
o
h
t
y
P

In [6]:
#print string in reverse order
p='Python'
for i in range(len(p),0,-1):
    print(p[i-1])

n
o
h
t
y
P

In [7]:
# Looping over list
my_list = ['I','Love','Python']
for c in my_list:
    print(c, end='*')

I*Love*Python*

In [10]:
#looping over dataframe
import pandas as pd
import numpy as np

#import data
student_df = pd.read_excel('./missing_null.xlsx')

print(student_df,'\n\n\n')

for i in student_df.columns:
    student_df[i]=student_df[i].fillna(0)
print(student_df)

    No       Name      Height     Weight   Age
0    0   Student1  164.981605  72.533380  16.0
1    1   Student2         NaN  51.277224   NaN
2    2   Student3  179.279758  58.146509  22.0
3    3   Student4  188.796394        NaN  24.0
4    4   Student5         NaN  65.523149  20.0
5    5   Student6  156.239781  80.332918  23.0
6    6   Student7         NaN  49.395245   NaN
7    7   Student8  184.647046  68.140550  21.0
8    8   Student9  174.044600        NaN  19.0
9    9  Student10  152.323344  53.985320  10.0
10  10  Student11  170.990257  72.339518  19.0
11  11  Student12         NaN  52.673586  23.0
12  12  Student13  183.297706  47.927322  23.0
13  13  Student14         NaN  87.699849  23.0
14  14  Student15  161.649166  64.806862  17.0
15  15  Student16         NaN  81.377881   NaN
16  16  Student17  162.169690        NaN  23.0
17  17  Student18         NaN  47.090269   5.0
18  18  Student19  167.277801  75.790486  24.0
19  19  Student20         NaN  61.486283  11.0



    No       Name      Height     Weight   Age
0    0   Student1  164.981605  72.533380  16.0
1    1   Student2    0.000000  51.277224   0.0
2    2   Student3  179.279758  58.146509  22.0
3    3   Student4  188.796394   0.000000  24.0
4    4   Student5    0.000000  65.523149  20.0
5    5   Student6  156.239781  80.332918  23.0
6    6   Student7    0.000000  49.395245   0.0
7    7   Student8  184.647046  68.140550  21.0
8    8   Student9  174.044600   0.000000  19.0
9    9  Student10  152.323344  53.985320  10.0
10  10  Student11  170.990257  72.339518  19.0
11  11  Student12    0.000000  52.673586  23.0
12  12  Student13  183.297706  47.927322  23.0
13  13  Student14    0.000000  87.699849  23.0
14  14  Student15  161.649166  64.806862  17.0
15  15  Student16    0.000000  81.377881   0.0
16  16  Student17  162.169690   0.000000  23.0
17  17  Student18    0.000000  47.090269   5.0
18  18  Student19  167.277801  75.790486  24.0
19  19  Student20    0.000000  61.486283  11.0