# SQLite
create a database, then create a table for the cat data, insert some cat records into it, read the data from the database, and close the database connection.

In [2]:
import sqlite3 as sq

#create/connect database
conn = sq.connect('example.db',isolation_level=None) #creates a example.db file in local folder

print(type(conn))
status = conn.close()

print(f"status: {status}")

<class 'sqlite3.Connection'>
status: None

In [56]:
#Create Table
import sqlite3 as sq

#create or connect database
conn = sq.connect('example.db',isolation_level=None)

#execute sql quary to create a table
conn.execute('CREATE TABLE IF NOT EXISTS cats (name TEXT NOT NULL, birthdate TEXT, furr TEXT, weight_kg REAL) ')

In [57]:
#Quary table
import sqlite3 as sq

output = conn.execute('SELECT * FROM cats').fetchall()
tableinfo = conn.execute('PRAGMA TABLE_INFO(cats)').fetchall()

print(f"database quary: {output}")
print(sq.sqlite_version)
print(f"table info quary: {tableinfo}")

buff = conn.execute('SELECT name FROM sqlite_schema WHERE type="table"').fetchall()
print(f"check tables in db using sqlite_schema table: \n{buff}")

# conn.execute('DROP TABLE CATS')

database quary: [('Zophie', '2021-01-24', 'black', 5.6), ('Zophie', '2021-01-24', 'black', 5.6), ('Zophie', '2021-01-24', 'black', 5.6)]
3.49.1
table info quary: [(0, 'name', 'TEXT', 1, None, 0), (1, 'birthdate', 'TEXT', 0, None, 0), (2, 'furr', 'TEXT', 0, None, 0), (3, 'weight_kg', 'REAL', 0, None, 0)]
check tables in db using sqlite_schema table:
[('cats',)]

In [59]:
#insert record
quary = 'INSERT INTO cats VALUES ("Zophie", "2021-01-24", "black", 5.6)'
conn.execute(quary)

OperationalError: database is locked

In [60]:
#read record
quary = 'SELECT rowid, * FROM cats ORDER BY furr'
buff = conn.execute(quary).fetchall()
print('buff: ',buff)

buff:  [(1, 'Zophie', '2021-01-24', 'black', 5.6), (2, 'Zophie', '2021-01-24', 'black', 5.6), (3, 'Zophie', '2021-01-24', 'black', 5.6)]

In [61]:
# update record
quary = 'UPDATE cats SET furr = "gray tabby" where rowid=1'
conn.execute(quary)
conn.execute('SELECT * FROM cats').fetchall()

OperationalError: database is locked

In [24]:
# delete record
quary = 'DELETE FROM cats WHERE rowid = 1'
conn.execute(quary)
conn.execute('SELECT * FROM cats').fetchall()

[]

In [29]:
#insert with ?, to prevent sql injection
conn.execute('INSERT INTO cats VALUES (?,?,?,?)', ["Zophie", "2021-01-24", "black", 5.6])
conn.execute('SELECT rowid, * FROM cats').fetchall()

[(1, 'Zophie', '2021-01-24', 'black', 5.6),
 (2, 'Zophie', '2021-01-24', 'black', 5.6),
 (3, 'Zophie', '2021-01-24', 'black', 5.6)]

In [1]:
import sqlite3 as sq
swcats_db = sq.connect('sweigartcats.db',isolation_level=None)
records = swcats_db.execute('SELECT * FROM cats')
print('Records: ',records)

i = 1
for row in records:
    print(f'Row data [{i}]: {row}')
    i+=1
    if i == 11:
        break

Records:  <sqlite3.Cursor object at 0x00000285D9A6E6C0>
Row data [1]: ('Zophie', '2021-01-24', 'black', 5.6)
Row data [2]: ('Miguel', '2016-12-24', 'siamese', 6.2)
Row data [3]: ('Jacob', '2022-02-20', 'orange and white', 5.5)
Row data [4]: ('Gumdrop', '2020-08-23', 'white', 6.4)
Row data [5]: ('Hector', '2022-03-15', 'orange and white', 7.5)
Row data [6]: ('Night', '2019-03-16', 'tuxedo', 6.5)
Row data [7]: ('Trey', '2022-07-07', 'calico', 5.8)
Row data [8]: ('Maverick', '2014-12-04', 'siamese', 5.6)
Row data [9]: ('Powder', '2022-04-30', 'tortoiseshell', 5.0)
Row data [10]: ('Rita', '2020-11-06', 'tortoiseshell', 6.0)

## Filter with Where

In [4]:
# filter with where
swcats_db.execute('SELECT * FROM cats WHERE fur = "black"').fetchall()

import pprint
matching_cats = swcats_db.execute('SELECT * FROM cats WHERE fur = "black" or birthdate >="2024-01-01"').fetchall()
pprint.pprint(matching_cats)

[('Zophie', '2021-01-24', 'black', 5.6),
 ('Toby', '2021-05-17', 'black', 6.8),
 ('Taffy', '2024-12-09', 'white', 7.0),
 ('Hollie', '2024-08-07', 'calico', 6.0),
 ('Lewis', '2024-03-19', 'orange tabby', 5.1),
 ('Thor', '2013-05-14', 'black', 5.2),
 ('Shell', '2024-06-16', 'tortoiseshell', 6.5),
 ('Jasmine', '2024-09-05', 'orange tabby', 6.3),
 ('Sassy', '2017-08-20', 'black', 7.5),
 ('Hope', '2016-05-22', 'black', 7.6)]

In [5]:
swcats_db.execute('SELECT * FROM cats where name LIKE "%y"').fetchall()

[('Trey', '2022-07-07', 'calico', 5.8),
 ('Toby', '2021-05-17', 'black', 6.8),
 ('Molly', '2021-09-02', 'orange and white', 6.1),
 ('Dusty', '2015-10-20', 'white', 6.8),
 ('Mandy', '2023-05-18', 'hairless', 6.8),
 ('Taffy', '2024-12-09', 'white', 7.0),
 ('Rocky', '2015-02-18', 'orange and white', 6.5),
 ('Bobby', '2021-08-11', 'orange and white', 5.3),
 ('Misty', '2016-07-08', 'orange', 5.2),
 ('Mitsy', '2015-05-29', 'white', 5.0),
 ('Colby', '2014-10-31', 'calico', 5.8),
 ('Riley', '2021-07-24', 'orange tabby', 5.1),
 ('Ruby', '2023-12-22', 'bengal', 5.0),
 ('Daisy', '2019-03-19', 'white', 6.0),
 ('Crosby', '2018-06-02', 'black and white', 6.4),
 ('Harry', '2015-06-23', 'siamese', 5.0),
 ('Sassy', '2017-08-20', 'black', 7.5),
 ('Lily', '2014-04-01', 'tortoiseshell', 6.0),
 ('Spunky', '2015-09-04', 'gray', 5.9)]

In [45]:
swcats_db.execute('SELECT * FROM cats WHERE name LIKE "Ja%"').fetchall()

[('Jacob', '2022-02-20', 'orange and white', 5.5),
 ('Java', '2019-12-19', 'tortoiseshell', 5.4),
 ('Jasmine', '2024-09-05', 'orange tabby', 6.3),
 ('Jamison', '2015-09-07', 'tortoiseshell', 7.4)]

In [46]:
swcats_db.execute('SELECT * FROM cats WHERE name LIKE "%ob%"').fetchall()

[('Jacob', '2022-02-20', 'orange and white', 5.5),
 ('Toby', '2021-05-17', 'black', 6.8),
 ('Bobby', '2021-08-11', 'orange and white', 5.3)]

In [ ]:
# case sensetive search with GLOB *text*
# While name LIKE "%m%" matches either a lowercase or uppercase m, name GLOB "*m*" matches only the lowercase m.
swcats_db.execute('SELECT * FROM cats WHERE name GLOB "*m*"').fetchall()

[('Gumdrop', '2020-08-23', 'white', 6.4),
 ('Thomas', '2023-03-09', 'gray', 7.8),
 ('Sam', '2014-02-22', 'tortoiseshell', 6.3),
 ('Cinnamon', '2013-03-07', 'calico', 5.2),
 ('Jasmine', '2024-09-05', 'orange tabby', 6.3),
 ('Samantha', '2014-01-11', 'orange and white', 6.3),
 ('Jamison', '2015-09-07', 'tortoiseshell', 7.4)]

## Order ORDER BY
ORDER BY must come after WHERE, if you are using WHERE to filter

In [65]:
buff = swcats_db.execute('SELECT * FROM cats ORDER BY fur LIMIT 10').fetchall()
pprint.pprint(buff)

[('Iris', '2017-07-13', 'bengal', 6.8),
 ('Ruby', '2023-12-22', 'bengal', 5.0),
 ('Elton', '2020-05-28', 'bengal', 5.4),
 ('Zophie', '2021-01-24', 'black', 5.6),
 ('Toby', '2021-05-17', 'black', 6.8),
 ('Thor', '2013-05-14', 'black', 5.2),
 ('Sassy', '2017-08-20', 'black', 7.5),
 ('Hope', '2016-05-22', 'black', 7.6),
 ('Vincent', '2015-02-08', 'black and white', 7.2),
 ('Chance', '2020-07-26', 'black and white', 6.3)]

In [66]:
# multiple orders
# order by fur and birthdate
swcats_db.execute('SELECT * FROM cats ORDER BY fur, birthdate LIMIT 10').fetchall()

[('Iris', '2017-07-13', 'bengal', 6.8),
 ('Elton', '2020-05-28', 'bengal', 5.4),
 ('Ruby', '2023-12-22', 'bengal', 5.0),
 ('Thor', '2013-05-14', 'black', 5.2),
 ('Hope', '2016-05-22', 'black', 7.6),
 ('Sassy', '2017-08-20', 'black', 7.5),
 ('Zophie', '2021-01-24', 'black', 5.6),
 ('Toby', '2021-05-17', 'black', 6.8),
 ('Vincent', '2015-02-08', 'black and white', 7.2),
 ('Crosby', '2018-06-02', 'black and white', 6.4)]

In [67]:
swcats_db.execute("SELECT * FROM cats ORDER BY fur, birthdate DESC LIMIT 10").fetchall()

[('Ruby', '2023-12-22', 'bengal', 5.0),
 ('Elton', '2020-05-28', 'bengal', 5.4),
 ('Iris', '2017-07-13', 'bengal', 6.8),
 ('Toby', '2021-05-17', 'black', 6.8),
 ('Zophie', '2021-01-24', 'black', 5.6),
 ('Sassy', '2017-08-20', 'black', 7.5),
 ('Hope', '2016-05-22', 'black', 7.6),
 ('Thor', '2013-05-14', 'black', 5.2),
 ('Tiger', '2021-09-12', 'black and white', 5.4),
 ('Luke', '2021-02-07', 'black and white', 5.0)]

In [3]:
# Index it help to run select quary faster.  So when you have a database or table used for more of read quary you may choose to index that column.  Note index will reduce performance of INSERT, UPDATE and DELETE

#create two indexes
# swcats_db.execute('CREATE INDEX idx_name ON cats (name)')
# swcats_db.execute('CREATE INDEX idx_birthdate ON cats (name)')

#check if the index are there?
# swcats_db.execute('SELECT name FROM sqlite_schema WHERE type="index" AND tbl_name="cats"').fetchall()

# drop index name
# swcats_db.execute('DROP INDEX idx_name')
swcats_db.execute('SELECT name FROM sqlite_schema WHERE type="index" AND tbl_name="cats"').fetchall()

# swcats_db.close()

[('idx_name',), ('idx_birthdate',)]

In [6]:
# Update data
swcats_db.execute('UPDATE cats SET fur = "gray tabby" WHERE rowid = 1')
swcats_db.execute('SELECT * FROM cats WHERE rowid = 1').fetchall()
swcats_db.close()

In [ ]:
# Delete from table
import sqlite3 as sq
import pprint
# swcats_db.close()
swcats_db = sq.connect('sweigartcats.db',isolation_level=None)
swcats_db.execute('DELETE FROM cats WHERE rowid = 1')
pprint.pprint(swcats_db.execute('SELECT * FROM cats LIMIT 5').fetchall())
swcats_db.close()

[('Miguel', '2016-12-24', 'siamese', 6.2),
 ('Jacob', '2022-02-20', 'orange and white', 5.5),
 ('Gumdrop', '2020-08-23', 'white', 6.4),
 ('Hector', '2022-03-15', 'orange and white', 7.5),
 ('Night', '2019-03-16', 'tuxedo', 6.5)]

In [ ]:
# Transaction
swcats_db = sq.connect('sweigartcats.db',isolation_level=None)
swcats_db.execute('BEGIN')
swcats_db.execute('INSERT INTO cats VALUES ("Socks", "2022-04-04", "white", 4.2)')
swcats_db.rollback()
# swcats_db.commit()
pprint.pprint(swcats_db.execute('SELECT * FROM cats WHERE name="Socks"').fetchall())
swcats_db.close()

[]

In [ ]:
# Back up data base
bkp_swcats_db = sq.connect('bkp_swcats.db',isolation_level=None)
swcats_db = sq.connect('sweigartcats.db',isolation_level=None)
swcats_db.backup(bkp_swcats_db)
swcats_db.close()

In [10]:
pprint.pprint(bkp_swcats_db.execute('SELECT * FROM cats LIMIT 5').fetchall())

[('Miguel', '2016-12-24', 'siamese', 6.2),
 ('Jacob', '2022-02-20', 'orange and white', 5.5),
 ('Gumdrop', '2020-08-23', 'white', 6.4),
 ('Hector', '2022-03-15', 'orange and white', 7.5),
 ('Night', '2019-03-16', 'tuxedo', 6.5)]

In [ ]:
# Alter Rename table
swcats_db = sq.connect('sweigartcats.db',isolation_level=None)
# swcats_db.execute('ALTER TABLE cats RENAME TO felines')
pprint.pprint(swcats_db.execute('SELECT name FROM sqlite_schema WHERE type="table"').fetchall())

# rename column
# swcats_db.execute('ALTER TABLE felines RENAME COLUMN fur TO description')
pprint.pprint(swcats_db.execute('PRAGMA TABLE_INFO(felines)').fetchall()[2]) #list 3rd column
# swcats_db.execute('ALTER TABLE felines ADD COLUMN is_loved INTEGER DEFAULT 1')
pprint.pprint(swcats_db.execute('SELECT * FROM felines LIMIT 3').fetchall())
# swcats_db.execute('ALTER TABLE felines DROP COLUMN is_loved')
pprint.pprint(swcats_db.execute('PRAGMA TABLE_INFO(felines)').fetchall())

swcats_db.close()

[('felines',)]
(2, 'description', 'TEXT', 0, None, 0)
[('Miguel', '2016-12-24', 'siamese', 6.2, 1),
 ('Jacob', '2022-02-20', 'orange and white', 5.5, 1),
 ('Gumdrop', '2020-08-23', 'white', 6.4, 1)]
[(0, 'name', 'TEXT', 1, None, 0),
 (1, 'birthdate', 'TEXT', 0, None, 0),
 (2, 'description', 'TEXT', 0, None, 0),
 (3, 'weight_kg', 'REAL', 0, None, 0)]

In [30]:
# Rename back to cats
swcats_db = sq.connect('sweigartcats.db',isolation_level=None)
# swcats_db.execute('ALTER TABLE felines RENAME TO cats')
pprint.pprint(swcats_db.execute('SELECT name FROM sqlite_schema WHERE type="table"').fetchall())
swcats_db.close()

[('cats',)]

In [33]:
# JOIN tables and Foreign key
swcats_db = sq.connect('sweigartcats.db',isolation_level=None)
swcats_db.execute('PRAGMA foreign_key=ON')
swcats_db.execute('CREATE TABLE IF NOT EXISTS vaccinations (vaccine TEXT,date_administered TEXT, administered_by TEXT, cat_id INTEGER,FOREIGN KEY(cat_id) REFERENCES cats(rowid))')
pprint.pprint(swcats_db.execute('SELECT name FROM sqlite_schema WHERE type="table"').fetchall())

swcats_db.close()

[('cats',), ('vaccinations',)]

In [ ]:
#insert few records in vaccinations table
swcats_db = sq.connect('sweigartcats.db',isolation_level=None)
swcats_db.execute('INSERT INTO vaccinations VALUES ("rabies", "2023-06-06", "Dr. Echo", 1)')
swcats_db.execute('INSERT INTO vaccinations VALUES ("FeLV", "2023-06-06", "Dr. Echo", 1)')
swcats_db.execute('INSERT INTO vaccinations VALUES ("rabies", "2023-07-11", "Dr. Echo", 23)')
swcats_db.close()

In [ ]:
# quary cats got vaccination records
swcats_db = sq.connect('sweigartcats.db',isolation_level=None)

# pprint.pprint(swcats_db.execute('SELECT * FROM CATS INNER JOIN vaccinations ON cats.rowid = vaccinations.cat_id').fetchall())
swcats_db.execute('SELECT * FROM cats INNER JOIN vaccinations ON cats.rowid = vaccinations.cat_id').fetchall()
swcats_db.close() # toggle this line to comment to see the output

In [ ]:
# create a copy of database
swcats_db.close() # toggle this line to comment to see the output
swcats_db = sq.connect('sweigartcats.db',isolation_level=None)
swcats_db.execute('PRAGMA foreign_key=ON')

with open('sw_db_dump.txt','w',encoding='utf-8') as fileObj:
    for row in swcats_db.iterdump():
        fileObj.write(row + '\n')
swcats_db.close() # toggle this line to comment to see the output

OperationalError: foreign key mismatch - "vaccinations" referencing "cats"

In [ ]:
# since the we used rowid as foreign key for the vaccination table we need to run a little fix
# rename the cats tabel to old_cats
# create new cats table with primary key column
# copy data from old_cats to new cat
# rename the vaccinations table to old_vaccinations table
# create a new vaccinations table with proper foreign key
# copy data from old_vaccination table
# varify data in both the tables
# drop the data
import sqlite3
swcats_db.close() # toggle this line to comment to see the output
swcats_db = sqlite3.connect('sweigartcats.db', isolation_level=None)
headers = swcats_db.execute("PRAGMA table_info(cats)").fetchall()
print('table cats:')
for col in headers:
    print(f"Column {col[0]} → name: {col[1]}, type: {col[2]}, notnull: {bool(col[3])}")
print('table vaccinations')
headers = swcats_db.execute("PRAGMA table_info(vaccinations)").fetchall()
for col in headers:
    print(f"Column {col[0]} → name: {col[1]}, type: {col[2]}, notnull: {bool(col[3])}")
swcats_db.close() # toggle this line to comment to see the output

table cats:
Column 0 → name: name, type: TEXT, notnull: True
Column 1 → name: birthdate, type: TEXT, notnull: False
Column 2 → name: description, type: TEXT, notnull: False
Column 3 → name: weight_kg, type: REAL, notnull: False
table vaccinations
Column 0 → name: vaccine, type: TEXT, notnull: False
Column 1 → name: date_administered, type: TEXT, notnull: False
Column 2 → name: administered_by, type: TEXT, notnull: False
Column 3 → name: cat_id, type: INTEGER, notnull: False